name: format

on:
  workflow_call:
    inputs:
      is_pull_request:
        required: false
        type: boolean
        default: false

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.61.0
          activate-environment: true
          cache: true
          locked: true

      - name: Run formatter
        run: pixi run format
        continue-on-error: true

      - name: Auto correct
        uses: huacnlee/autocorrect-action@v2
        with:
          args: --lint ./docs
        continue-on-error: true

      - name: Check diff
        run: |
          if ! git diff --quiet; then
            echo "::error::Formatting changes detected. Please run 'pixi run format' and commit the result."
            git --no-pager diff --stat
            git --no-pager diff
            exit 1
          fi
